<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                NetZero Task Scheduler
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/tasks">Tasks</a></li>
            </ul>
        </div>
    
    </div>
    </nav>